
    <div class="card" >
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h2  *ngIf="OperationType"> Nouveau Operation   {{OperationType}}</h2>
          </div>
          <div class="col-4 text-right">
          
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="formGroupOperation">
        <form [formGroup]="formGroupOperation">
          <h6 class="heading-small text-muted mb-4">Operation information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Montant </label>
                  <input type="text" id="input-username" class="form-control" placeholder="Montant" formControlName="amount" >
                </div>
              </div>
              
              <div class="col-6 ">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Currency </label>
                  <input type="text" id="input-currency" class="form-control" placeholder="Currency" placeholder="Currency" formControlName="currency"  >
                </div>
               
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                
              </div>
         
              <div class="col-6 text-right">
                <div class="col">
                  <div><br>  </div>
                  <div>  
                    <button class="btn  btn-primary" (click)="onSaveOperation()" > Save</button>
                    
                  </div>
                 
                </div>
               
              </div>
            </div>
           
          </div>
          <hr class="my-4" />
          
        </form>
      </div>
    </div>
 
