<div class="card card-profile">
    <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
            <img src="../assets/img/theme/team-4.jpg" class="rounded-circle">
          </a>
        </div>
      </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
      <div class="d-flex justify-content-between">
       
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col">
          <div class="card-profile-stats d-flex justify-content-center">
            <div>
              
            </div>
            <div>
              <span class="heading text-success">{{_account?.balance}}</span>
              <span class="description">{{_account?.currency}}</span>
            </div>
            <div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h5 class="h3">
          {{_account?.proprietaire}}
        </h5>
       
        <div class="h4">
          <i class="ni business_briefcase-24 mr-2"></i> {{_account?.id}}
        </div>
        <div>
          <i class="ni education_hat mr-2"></i>{{_account?.dateCreation}}
        </div>
      </div>
    </div>
  </div>